.layout {
    height: 100%;
    padding: 20px 106px;

    &__content {
        height: 100%;
        position: relative;

        &__loader {
            width: 100%;
            height: 100%;
        }

        &__tree {
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    .product-content {
        &__container {
            flex-direction: column;
            align-items: center;
        }
    }
}
